@charset "UTF-8";

/*Fisrt mobile*/

@import url('https://fonts.googleapis.com/css2?family=Honk:MORF@15&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root {
    --font-destaque: "Honk", system-ui;
    --font-normal: "Audiowide", sans-serif;
    --font-padrão: Arial, Helvetica, sans-serif;
}

body{
    background-attachment: fixed;
    background-image: url('../imagens/back4.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}

main {
    width: 98vw;
    height: 92vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
}

section {
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(192, 181, 120);
    border-radius: 8px;
    padding: 10px;
    height:50vh;
}

div {
    margin-top: 20px;
}
h1 {
    font-family: var(--font-normal);
    font-size: 1em;
    margin-top: 20px;
    text-align: center;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.336);
    padding: 6px;
    box-shadow: 4px 10px 5px rgba(0, 0, 0, 0.541);
    animation: flutuar 1s ease-in-out infinite;
    border-radius: 5px;
}

@keyframes flutuar {
    0% {
        transform: translateZ(0);
        

    }

    50% {
        transform: translateY(-6px);
    }

    100% {
        transform: translateY();
    }
}


.objecto {
    width: 30px;
    height: 30px;
    animation: flutuar 0.8s ease-in-out infinite;
}

.button {
    padding: 20px;
    background-color: rgba(191, 185, 185, 0.558);
    border-radius: 4px;
    width: 100px;
    cursor: pointer;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.269);
    margin: 1px;
    font-family: var(--font-normal);
    margin-bottom: 18px;
}

.button:hover {
    transition:transform 0.1s ease-in-out 0.1s;
    transform: translateY(6px);
}

p {
    font-family: var(--font-normal);
}

#res {
    font-family: var(--font-normal);
}
#pedra, #papel, #tesoura, #interface {
    display: none;
}

#cadastro{
    height: 20vh;
    width: 68vw;
    margin-bottom: 10px;
    
    
}

#cadastro > div > label {
    background-color: burlywood;
}

#cadastro > div > label > input {
    border-radius: 4px;
    padding: 1px;
    
}
#iname {

}
#inum {
    margin-top: 10px;
    width: 60px;
}

footer p {
    text-align: center;
    color: rgba(255, 255, 255, 0.822);
    font-size: 1em;
    margin-bottom: 20px;
}